* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(18, 27, 37);
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: #1aa090;
    border-radius: 8px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.calculator-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.form-container {
    background-color: #3333336a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

label {
    display: block;
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #d6d6d6;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

input:focus {
    border-color: #1aa090;
}

.submit-btn {
    background-color: #28a745;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #218838;
}

.result-container {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
